/* Aca empieza las tarjetas Inicial */
.container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.tarjeta {
    width: 600px;
    height: 400px;
    margin-top: 2px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    color: #fff;
    text-align: center;


}

.cuerpo {
    padding: 10px;
}

.tarjeta img {
    width: 100%;
    height: 350px;


}


.btn {
    background-color: #fff;
    border-color: #1CACEB;
    color: #000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 0px 5px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 10px;
}

.btn:hover {
    background-color: #1CACEB;
    color: #fff;
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.24), 0 50px 50px 0 rgba(0, 0, 0, 0.19);
}
/* Aca termina las tarjetas iniciales */

/* Aca empieza la ultima Tarjeta */

.contenedor-card {

    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card-1 {
    display: flex;
    background-image: linear-gradient(#18DD81, #1CACEB);
    border-radius: 10px;
    flex-direction: row;
    color: #fff;

}

.card-imagen {
    width: 60%;

}

.card-imagen img {
    width: 100%;
    min-height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 600ms;
    position: relative;
}

.card-imagen img:hover {
    transform: scale(1.25);
}

.card-texto-1 {
    width: 100%;
    padding: 10px;
    text-align: center;
}

/* Acá termina la ultima tarjeta */

/* Empiezan las tarjetas del footer */
.containers{
    display: flex;
    flex-direction: row;
    column-gap: 4.5em;
    row-gap: 2.5rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
 }
 .tarjetas{
     width: 250px;
     height: auto;
     margin-top: 2px;
     background-color: #fff;
     border-radius: 20px;
     text-align: center;
     margin-bottom: .5rem;
     
     
 }
 .tarjetas:hover{
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.24), 0 50px 50px 0 rgba(0, 0, 0, 0.19);
    transition: .5s;
 }
 .cuerpos{
     padding: 10px;
 }
 .cuerpos h4{
    font-family: 'Roboto', sans-serif;
    color: #000;

}
 .tarjetas img{
     width: 100%;
     height: 150px;
     border-top-left-radius: 20px;
     border-top-right-radius: 20px;
}
/* Acá terminan las tarjetas del footer */